/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
nav, main, aside {
  width: 10%;
  float: left;
  margin: 24px;
  height: 500px;
}
main {
  width: 50%;
}
aside {
  width: 30%;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration:none;
}
main img {
  width: 100%;
  border: 1px solid black;
}
aside ul li {
  padding-bottom: 24px;
  border-bottom: 1px solid black;
}
aside section img {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-top: 100px;
}
main section + section section{
  float: left;
  width: 40%;
  margin: 24px;
}
section p {
  padding-bottom: 48px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
