* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
:root {
    --navy: #161E2F;
    --gray: #DFE1EA;
    --white: #EEF0F4;
    --dark-gray: #2F3340;
    --white-two: #FFFFFF;
    --font-color: #aaa;
}
body {
    background-color: var(--white);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container, .center {
    padding: 1.8rem 6rem;
}
.two, .logos, .three {
    background-color: var(--white);
}
.container {
    background-color: var(--navy);
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .left h1 {
    color: var(--white-two);
    font-size: 3rem;
    font-weight: 400;
}
header nav .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}
header nav .right li a {
    color: var(--font-color);
    font-size: 1.5rem;
}
.active, .button {
    color: white !important;
}
.button {
    background-color: var(--dark-gray);
    padding: 1rem 3rem;
    border-radius: .2rem;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    margin-top: 6rem;
}
.hero-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-left h2 {
    font-size: 3rem;
    color: var(--white);
    font-weight: 300;
}
.hero-left p {
    font-size: 1.5rem;
    color: var(--white);
}
.hero-left .buttons {
    display: flex;
    gap: 4rem;
    margin-top: 3rem;
}
.but-color {
    padding: 1.5rem 4rem;
    color: var(--navy);
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    border-radius: .3rem;
}
.but-non {
    color: var(--white);
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.hero-right img {
    max-width: 100%;
    border-radius: 1rem;
}
.logos {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    height: 40vh;
}
.logos img {
    width: 120px;
    height: 120;
}
.two, .three, .five {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    gap: 6rem;
    margin: 4rem 0;
}
.two-left, .three-right {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
.two-left span, .three-right span, .five .five-details > span, .six span {
    color: var(--navy);
    font-size: 1.2rem;
} 
.two-left h3, .three-right h3, .four h3, .five .five-details > h3, .six h3 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--navy);
}
.two-left p, .three-right p, .four p, .five .five-details > p {
    font-size: 1.5rem;
    color: grey;
    margin: 1.5rem 0;
}
.two-left button, .three-right button, .mix-btn button {
    align-self: start;
    padding: 1.5rem 4rem;
    color: var(--white);
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--navy);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .4 );
    margin-top: 4rem;
}
.mix-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.two-right > div {
    width: 320px;
    height: 380px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .3);
    border-radius: .4rem;
    color: var(--navy);
}
.two-right > div .img {
    width: 320px;
    height: 250px;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.two-right > div .img span, .three-con span, .five-con span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.two-right > div .img span, .three-con span, .five-con span{
    font-size: 1.4rem;
}
.two-right > div .img span i, .three-con span i, .five .five-con span i {
    font-size: 2.5rem;
}
.two-right > div .details {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.two-right > div .details h4 {
    font-size: 1.4rem;
    font-weight: 600;
}
.two-right > div:first-child .img{
    background-color: var(--navy);
    color: var(--white);
}
.mix {
    display: flex;
    flex-direction: column;
}
.three .three-img, .five .five-img {
    width: 1400px;
    height: 800px;
    background-color: var(--gray);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.five .five-img {
    height: 700px;
}
.three-con, .five .five-con {
    width: 300px;
    height: 200px;
    background-color: var(--navy);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, .3);
}
.four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0 0;
}
.four p {
    width: 920px;
    text-align: center;
}
.five-details {
    width: 1200px;
}
.five-details .five-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}
.five-details .five-box > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.five-details .five-box div .box {
    width: 40px;
    height: 40px;
    border: 4px solid var(--navy);
    border-radius: .5rem;
}
.box-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.box-info h3 {
    font-size: 1.5rem;
}
.box-info p {
    color: gray;
    font-size: 1.2rem;
}
.circles-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}
.circles-container .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 3px solid var(--navy);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.six {
    width: 600px;
    margin-bottom: 4rem;
}
.seven {
    background-color: var(--navy);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    outline: hidden;
    height: 800px;
    padding: 4rem;
    align-items: center;
    justify-content: center;
}
.seven-box {
    background-color: var(--white-two);
    width: 500px;
    height: 250px;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.seven-box .box-con {
    border: 4px solid var(--navy);
    width: 40px;
    height: 40px;
    border-radius: .4rem;
}
.seven-box h3 {
    color: var(--navy);
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.seven-box p {
    letter-spacing: 2px;
    font-size: 1rem;
    color: gray;
}
.ocho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-two);
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.ocho .circle {
    border: 3px solid var(--navy);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ocho .ocho-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: gray;
    width: 1100px;
}
.ocho .ocho-container span {
    font-size: 2rem;
    font-weight: 600;
}
.ocho .ocho-container p {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 400;
}
.ocho-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.ocho-box .ocho-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--gray);
}
.ocho-box .box-con {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}
.ocho-box .box-con h3 {
    color: var(--navy);
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}
.ocho-box .box-con p{
    font-size: 2rem;
}
.nine {
    background: var(--navy);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 4rem 0; */
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.nine .nine-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.nine .nine-left span {
    color: gray;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.nine .nine-left h3 {
    color: var(--white-two);
    font-size: 2.5rem;
    text-transform: capitalize;
}
.nine .nine-right {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.nine .nine-right .btn-left, .nine .nine-right .btn-right {
    padding: 1.5rem 4rem;
    /* color: var(--white); */
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--navy);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .4 );
    /* margin-top: 4rem; */
    text-transform: uppercase;
}
.nine .nine-right .btn-left {
    color: var(--white-two);
    background-color: var(--dark-gray);
}
.nine .nine-right .btn-right {
    color: var(--navy);
    background-color: var(--white);
    padding: 1.5rem 6rem;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.footer div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.footer div h4 {
    text-transform: uppercase;
    color: var(--navy);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer div p {
    color: gray;
    font-size: 1.5rem;
    width: 360px;
}
.footer div .choices {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}
.footer div .choices .choice-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.footer div .choices .choice-container .choice-box {
    border: 3px solid var(--navy);
    width: 40px;
    height: 40px;
    border-radius: .4rem;
}
.footer div ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: gray;
    font-size: 1.5rem;
}
.footer div ul li {
    text-transform: capitalize;
}
.footer-dif h4 {
    visibility: hidden;
}
.footer div .social-icons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 2rem;
    margin-top: 2rem;
}
