* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  padding: 4rem 10rem;
}
header {
    height: 90px;
    padding: 2rem 8rem;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
nav h1, nav ul, nav > a {
    float: left;
    width: 10%;
}
nav .bar {
  display: none;
}
nav > a {
    width: 10%;
}
nav ul {
    width: 70%;
    margin-left: 6rem;
}
nav ul li {
    float: left;
    width: 13%;
}
nav ul .icon {
    width: 6%;
}
nav > a, nav ul li a {
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    padding-top: .4rem;
}
.one {
    background-image: url('../img/banner-1.jpg');
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: drop-shadow(0 0.2rem 0.4rem rgba(0, 0, 0, 0.6)); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    /* clip-path: circle(100% at 50% 30%); */
    border-bottom-right-radius: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 0;
}
.left-side {
  margin-left: 15rem;
}
.left-side .one-details {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 14rem;
}
.left-side .one-details h1 {
  font-size: 8rem;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'Times New Roman', Times, serif;
}
.left-side .one-details p {
  font-size: 1.4rem;
  letter-spacing: 3px;
}
.btn {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  align-self: start;
  text-transform: capitalize;
}
.btn hr {
  width: 10px;
}
.left-side .one-details .btn {
  background-color: black;
  color: white;
}
.de {
  height: 100%;
  width: 100%;
  z-index: 0;
}
.one-box {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  position: absolute;
  margin-top: 5rem;
  padding: 4rem 1.2rem;
  width: 350px;
  height: 380px;
  background-color: black;
  bottom: -350px;
  left: 240px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1000;
}
.one-box h3 {
  font-size: 1.2rem;
  font-weight: 100;
}
.one-box p {
  font-size: 1.5rem;
  line-height: 2;
}
.one-box p span {
  font-size: 3rem;
}
.one-box .btn {
  background-color: white;
  color: black;
}
.right-side p {
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    padding-right: 2rem;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 600;
}
.icons {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
.icons i {
  padding: 1.2rem;
  border-radius: 50%;
  color: black;
  background-color: white;
}
.two, .three, .four, .five, .six, .photos {
  clear: both;
}
.two {
  margin-top: 15rem;
  margin-bottom: 6rem;
  background-color: white;
  text-align: center;
  /* border: 1px solid black; */
}
.two .box {
  float: left;
  width: 33.33%;
}
.two .box .style {
  position: relative;
  margin-bottom: 4rem;
  padding-bottom: 3rem;
}
.two .box .style .cir {
  position: absolute;
  background-color: rgb(249, 244, 244);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 10;
  left: 160px;
  top: -50px;
}
.two .box .style img {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 9999;
  left: 180px;
  top: -40px;
}
.two .box  h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 4rem 0 1.5rem;
}
.two .box p {
  font-size: 1.2rem;
  color: gray;
  padding: 0 4rem;
  line-height: 1.8;
}
.three {
  background-color: #F1F2F4;
  margin: 20rem 0 5rem;
  height: 70vh;
}
.three div {
  float: left;
  width: 45%;
  margin-left: 0;
}
.three div img {
  width: 600px;
}
.three .left-side {
  margin-right: 4rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.three .left-side h3 {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1.4;
} 
.three .left-side p {
  font-size: 1.2rem;
  color: gray;
}
.three .left-side .btn {
  color: white;
  background-color: black;
  align-self: start;
}  
.four {
  margin-bottom: 50rem;
}
.four .box {
  float: left;
  width: 30%;
  position: relative;
  margin: 0 1.2rem;
}
.four .box img {
  width: 100%;
}
.details {
  background-color: black;
  position: absolute;
  color: white;
  text-align: center;
  padding: .8rem 6rem;
  left: 70px;
  bottom: -40px;
  text-transform: uppercase;
}
.details h4 {
  font-size: 1rem;
  margin-bottom: .5rem;
  letter-spacing: 2px;
}
.five .box{
  background-color: #F1F2F4;
  height: 50vh;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}
.five .box div {
  margin: 0;
  padding: 0;
  float: left;
  width: 70%;
}
.five .box {
  margin: 0 4rem;
}
.five .box .right-side {
  text-align: right;
  width: 30%;
}
.five .box .right-side img {
  width: 360px;
  height: 400px;
}
.five .box .left-side {
  padding: 4rem 0 4rem 10rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.five .box .left-side > span {
  font-size: 1.2rem;
}
.five .box .left-side h3 {
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 100;
}
.five .box .left-side .btn {
  color: white;
  background-color: black;
}
.six  {
  text-align: center;
}
.six  h3{
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1.2;
  font-weight: 100;
  margin-bottom: 2rem;
}
.six hr {
  color: black;
  background-color: black;
  width: 50px;
  height: 6px;
  margin: 0 auto;
}
.photos {
  overflow: hidden;
  margin: 5rem 0;
}
.photos div {
  float: left;
  width: 30%;
  margin-right: 1rem;
  height: 170vh;
}
.photos div img {
  width: 100%;
}
@media all and (max-width: 768px) {
  .container {
    padding: 2rem 6rem;
  }
  header {
    height: 80px;
    padding: 2rem 4rem;
    text-transform: uppercase;
}
  nav ul {
    display: none;
  }
  nav .bar {
    display: inline-block;
    text-align: right;
    font-size: 2rem;
  }
  nav h1, nav .bar{
    float: left;
    width: 50%;
}
  nav > a {
    display: none;
  }
  .one {
    clip-path: none;
    border-bottom-right-radius: 0;
    background-size: contain;
}
.left-side {
  margin-left: 2rem;
  height: 100vh;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.left-side .one-details h1 {
  font-size: 4rem;
}
.left-side .one-details p {
  font-size: 1rem;
}
.de {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-side p {
    font-size: .8rem;
    padding-right: 1.8rem;
    letter-spacing: 2px;
    padding-bottom: 15rem;
}
.icons {
  position: absolute;
  bottom: 350px;
  right: 60px;
}
.icons i {
  padding: .8rem;
  border-radius: 50%;
  color: black;
  background-color: white;
}
.two .box {
  width: 100%;
  margin-bottom: 10rem;
}
.three div, .photos div {
  width: 100%;
}
.three div img {
  width: 500px;
}
.three .left-side {
  margin-right: 0;
  padding: 2rem;
}
.three {
  background-color: #F1F2F4;
  margin: 10rem 0 5rem;
  height: 160vh;
}
.four .box {
  width: 100%;
  margin-bottom: 6rem;
}
.five {
  height: 50vh;
}
.five .box div {
  width: 80%;
}
.five .box {
  margin: 0 1rem;
}
.five .box .right-side {
  display: none;
}
.five .box .right-side img {
  display: none;
}
.five .box .left-side {
  padding: 2rem;
  height: 60vh;
}
}
