* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
section {
    color: white;
}
.hidden {
    display: none;
}
li {
    list-style:none ;
}
.container {
    padding: 2rem 6rem;
}
body {
    background-color: black;
}
.header {
    height: 70px;
    justify-content: space-between;
    color: white;
    font-size: 2rem;
    align-items: center;
    padding: 1rem 4rem;
    cursor: pointer;
}
header h4 {
    font-weight: 500;
}
.background {
    background-image: url('../img/82a47526700b03819887b377c6c97818.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}
.title {
    color: white;
    margin-top: 4rem;
    font-size: 2rem;
}
.nav {
    margin: 0 6rem;
    border-top: 1px solid lightsteelblue;
    border-bottom: 1px solid lightsteelblue;
    padding: 2rem;
    /* color: lightsteelblue; */
}
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul li {
    background-color: lightsteelblue;
    padding: 1rem 6rem;
    border-radius: .2rem;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.nav ul li:hover, .nav ul li.active {
    background-color: white;
}
.nav ul li:hover a, .nav ul li.active a {
    color: lightsteelblue;
}
.nav ul li a {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
}
.info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.brief .side {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.brief .img img  {
    width: 600px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
}
.brief .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.brief h3 {
    font-size: 2.4rem;
    color: lightsteelblue;
    margin-bottom: .5rem;
}
.brief p {
    font-size: 1.4rem;
}
.music {
    gap: 2rem;
}
.left_side {
    /* gap: 3rem; */
    width: 70%;
}
.audio_container {
    flex-direction: column;
    height: 220px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.audio_container .box {
    width: 150px;
    height: 150px;
    border-radius: .5rem;
}
.audio_container .box img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid rgba(176, 196, 222);
    box-shadow: 0 10px 60px rgba(176, 196, 222, 0.22);
}
.audio_container span {
    color: white;
    font-size: 1.2rem;
}
.right_side {
    width: 28%;
    border: 1px solid #b0c4de;
    height: 800px;
    border-radius: .5rem;
}
.right_side h3 {
    color: white;
    text-align: center;
    margin-top: 1rem;
}
.music_container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgb(176, 196, 222, 0.4);
    padding: 20px 20px;
    position: relative;
    margin: 50px 0;
    z-index: 10;
    height: 100px;
    width: 800px;
    align-items: center;
}
.img_contaier {
    position: relative;
    width: 110px;
}
.img_contaier::after {
    content: '';
    background-color: #fff;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.img_contaier img{
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: -25px;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}
.music_container .img_contaier.play img {
    animation-play-state: running;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.play-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 660px;
}
.action-btn {
    background-color: transparent;
    color: #b0c4de;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    margin: 0 30px;
}
.action-btn:focus {
    outline: 0;
}
.music_info {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: -60px;
    left: 20px;
    width: calc(100% - 40px);
    padding: 25px 10px 25px 150px;
    /* opacity: 0; */
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music_container.play .music_info {
    opacity: 1;
    transform: translateY(-100%);
}
.songItem {
    position: relative;
    list-style: none;
    padding: 5px 0px 5px 20px;
    align-items: center;
}
.songItem span{
    font-size: 25px;
    font-weight: 600;
    color: lightsteelblue;
    margin-right: 20px;
}
/* .music_items img {
    width: 12px;
    height: 12px;
    margin-left: 25px;
} */
.songItem h4 {
    font-size: 25px;
    margin-left: 25px;
    color: lightsteelblue;
}
.photos {
    justify-content: center;
    gap: 4rem;
}
.photos img {
    width: 350px;
    height: 350px;
    border-radius: .5rem;
    border: 2px solid lightsteelblue;
    box-shadow: 2px 4px 12px rgba(255, 255, 255, 0.5);
}
